:root {
  --color-blue: #0E4287;
  --color-blue--dark: #0B3266;
  --color-red: #960200;
  --color-white: #F7F4F3;
  --color-gray: #DBDBDB;

  --padding--default: 8px;
  --padding--small: calc(2 * var(--padding--default));
  --padding--medium: calc(4 * var(--padding--default));
  --padding--large: calc(6 * var(--padding--default));
  --padding--footer-size: 200px;

  --margin--override-default: calc(0px - var(--padding--default));
}

/* Set up header and sticky footer at bottom of page. */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Merriweather", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  padding: 0 0 var(--padding--footer-size);
  min-height: 100%;
}

.header {
  margin: var(--margin--override-default);
  padding: var(--padding--default);
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-red);
  font-family: "Merriweather", serif;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: var(--margin--override-default);
  padding: var(--padding--medium);
  color: var(--color-white);
  background-color: var(--color-blue--dark);
  font-size: 0.8em;
}

/* Adjust spacing on base elements. */

.header__title {
  margin-top: 2rem;
}

.container {
  margin-top: var(--padding--medium);
}

.columns,
.row {
  margin-top: var(--padding--default);
}

.row--extra-space {
  padding-top: var(--padding--large);
}

.display-congressperson {
  padding-top: var(--padding--large);
}

.app-message {
  padding: var(--padding--small);
  background-color: var(--color-gray);
  border-radius: 4px;
}

.loading {
  display: block;
  margin: 200px auto;
  max-width: 75px;
}

.loading--nested {
  margin: var(--padding--large) auto;
}

/* Override default skeleton.css button colors. */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-color: var(--color-blue);

  /* Removes default styling. */
  -webkit-appearance: none;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: var(--color-white);
  background-color: var(--color-blue--dark);
  border-color: var(--color-blue--dark);
}