{{!-- Manually force this content to be focused when it's rendered,
      as there's currently an issue with focusing content after
      a loading substate: https://github.com/ember-a11y/ember-a11y/issues/61 --}}
{{#focus-on-render}}
  {{t "pickDistrict.helpText"}}

  <ul class="row--extra-space">
  {{#each lookupData.districtsToPickFrom as |district|}}
    <li data-test-pick-district__link>
      {{link-to district.id 'district' district.id}}
    </li>
  {{/each}}
  </ul>
{{/focus-on-render}}