<div class="header" {{action "linkToIndex"}}>
  <h1 class="header__title">Call My Congress</h1>
</div>

<div class="container">
  {{app-message messageKey=message.messageKey
                isVisible=message.isVisible}}

  {{focusing-outlet}}
</div>

<div class="footer">
{{translate-format-link key="about.attribution"
                        links=(hash census="https://geocoding.geo.census.gov/"
                                    propublica="https://www.propublica.org/datastore/apis"
                                    marie="http://mariechatfield.com/"
                                    github="https://github.com/mchat/call-my-congress"
                                    whois="http://whoismyrepresentative.com/api")}}
</div>